/* FLIP CARDS FORMAT */
.container-card{
    /*width: 100%;*/
    max-width: 100%;     /* will shrink below 400px */
    height: 500px;
    perspective: 700px;
    border-radius: 2rem;
    /*max-width: 800px;
    font-family: "Quicksand", sans-serif;
    /*background-color: rgb(110, 241, 23)*/
}

/*To avoid jitterniess using '.card:hover{}'*/
.container-card:hover .card1 {
    cursor: pointer;
    transform: rotateY(180deg);   
}
.card1{
    height: 100%;
    width: 100%;
    position: relative;
    /*To give animation to the flip*/
    /*transition: transform 1500ms;*/
    transform-style: preserve-3d;
    font-family: "Quicksand", sans-serif;
    transition: transform 0.8s ease-in-out; /* animate the flip */
    border-radius: 2rem;
}


.front1, .back1{
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    position: absolute;
    justify-content: center;
    /*display: flex;*/
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; 
}

/* front face styling */
.front1 {
  z-index: 2;     /* sit above the back face initially */
  font-family: "Quicksand", sans-serif;
  text-align: justify;
  background-color: #87d2f0;
  /*margin-bottom: 20px;*/
  
}

/*Targeting the back*/
.back1{
    background-color:#2e5897;; 
    transform: rotateY(180deg);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.back1 .table {
  font-family: "Quicksand", sans-serif;
}
@media (max-width: 1160px) {
     .container-card{
    max-width: 100%;     /* will shrink below 400px */
    height: 600px;
    perspective: 700px;
    border-radius: 2rem;
    }
}
@media only screen and (max-width: 1050px) {
    .container-card{
    max-width: 100%;     /* will shrink below 400px */
    height: 750px;
    perspective: 800px;
    border-radius: 2rem;
    }
}
@media only screen and (max-width: 950px) {
     .container-card{
    max-width: 100%;     /* will shrink below 400px */
    height: 800px;
    perspective: 700px;
    border-radius: 2rem;
    }
}
@media only screen and (max-width: 800px) {
     .container-card{
    max-width: 100%;     /* will shrink below 400px */
    height: 890px;
    perspective: 700px;
    border-radius: 2rem;
    }
}
@media only screen  and (max-width: 770px) {
     .container-card{
    max-width: 100%;     /* will shrink below 400px */
    height: 600px;
    perspective: 700px;
    border-radius: 2rem;
    }

 }
/* END FLIP CARDS FORMAT  */
@media (max-width: 570px) {
    .container-card{
    max-width: 100%;     /* will shrink below 400px */
    height: 750px;
    perspective: 700px;
    border-radius: 2rem;
    }
}

@media (max-width: 350px) {

    .container-card{
        /*width: 100%;*/
        max-width: 100%;     /* will shrink below 400px */
        height: 1000px;
        perspective: 700px;
        border-radius: 2rem;
        /*max-width: 800px;
        font-family: "Quicksand", sans-serif;
        /*background-color: rgb(110, 241, 23)*/
    }
   
}